<section class="section-error">
    <main class="main">
        <div class="header">
            <img class="header__img" src="assets/svg/logo.svg" alt="Gama Academy" />
         </div>

            <div class="container-card">
               <div class="error-card">
                  <p class="error-card__title"></p>
        
                    <form class="error-card__form">
                       <div class="error">
                           <img class="error__img" src="assets/svg/vector.svg" alt="Error" />
                       </div>
                       <p class="error-card__title">Oops, algo deu errado! <br/>Confime seus dados e tente <br/>novamente!</p>
                    </form>
                    <button type="submit" class="btn-error"  (click)="onSubmit()">
                         Voltar <div><img class="icon"  [src]="VECTOR_ICON_URL"/></div>
                    </button>            
               </div>
            </div>
    </main>
</section>
