.bg {
  background-color: #68DE5A;
}
//.logo {
  // margin-top: 0.8em;
  // margin-left: 0.4em;
  // padding: 0.016em;

//}
//.content {
  // margin-top: 2.2rem;
//}
.button {
  //margin-right: 0,5rem;
  text-decoration: none;
  list-style-type: none;
}
.link {
  // display: flex;
  // flex-direction: column;
  // height: 5.68rem;
  // width: 5.68rem;
  // margin: 0.6rem;
  // padding: 0.5rem;
  // border-radius: 10px;
  background-color:  #8C52E5;
}

.icon {
  height: 1.75rem;
  width: 1.75rem;
  // margin: 0.1rem;
  // padding: 0.1rem;
  // align-self: flex-start;

}.text {
  // align-self: flex-start;
  // margin-top: 1.25rem;
 font-size: 10px;
 color: white;
}

a {
  text-decoration:none;
}
