<div class="navbar">
  <div class="container-fluid h-100 w-100 p-0">
    <div
      class="bg d-flex flex-column w-100 h-100 align-top align-items-center p-3"
    >
      <div class="logo mb-4">
        <a href="/dashboard">
          <img src="../../assets/logo.svg" alt="logo" />
        </a>
      </div>
      <!-- <div class="content"> -->
      <ul class="button container">
        <div
          class="d-flex flex-column w-100 h-100 align-items-center aling-center"
        >
          <li class="link row h-75 w-75 mb-4 rounded-top rounded-bottom">
            <a
              class="col shadow p-2"
              routerLink="deposit"
              routerLinkActive="ativado"
            >
              <div class="d-flex flex-column">
                <img
                  class="icon"
                  src="../../assets/money-bill-wave-solid.svg"
                  alt="money-bill-wave-solid"
                />
                <div class="text d-flex align-items-end mt-3">Deposito</div>
              </div>
            </a>
          </li>
          <div
            class="d-flex flex-column w-100 h-100 align-items-center aling-center"
          >
            <li class="link row h-75 w-75 mb-4 rounded-top rounded-bottom">
              <a
                class="col shadow p-2"
                routerLink="plans"
                routerLinkActive="ativado"
              >
                <div class="d-flex flex-column justify-content-start">
                  <img
                    class="icon"
                    src="../../assets/piggy-bank-solid.svg"
                    alt="piggy-bank-solid"
                  />
                  <div class="text d-flex align-items-end mt-3">Planos</div>
                </div>
              </a>
            </li>
          </div>
          <div
            class="d-flex flex-column w-100 h-100 align-items-center aling-center"
          >
            <li class="link row h-75 w-75 mb-4 rounded-top rounded-bottom">
              <a
                class="col shadow p-2"
                routerLink="payments"
                routerLinkActive="ativado"
              >
                <div class="d-flex flex-column justify-content-start">
                  <img
                    class="icon"
                    src=""
                    alt="pix"
                    src="../../assets/pix.svg"

                  />
                  <div class="text d-flex align-items-end mt-3">Pagamentos</div>
                </div>
              </a>
            </li>
          </div>
          <div
            class="d-flex flex-column w-100 h-100 align-items-center aling-center"
          >
            <li class="link row h-75 w-75 mb-4 rounded-top rounded-bottom">
              <a
                class="col shadow p-2"
                routerLink="transfer"
                routerLinkActive="ativado"
              >
                <div class="d-flex flex-column">
                  <img
                    class="icon"
                    src="../../assets/exchange-alt-solid.svg"
                    alt="exchange-alt-solid"
                  />
                  <div class="text d-flex align-items-end mt-3">Transações</div>
                </div>
              </a>
            </li>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>
