<img class="container-login__logo" [src]="LOGO_IMAGE_URL" />

<div class="container">
  <div class="row pt-2">
    <div class="col-md-5 mx-auto">
      <div class="card card-login">
        <div class="row justify-content-center">
          <p class="login-card__title">Faça seu login</p>
        </div>

        <div class="card-body">
          <form #form="ngForm" [formGroup]="loginForm">
            <div class="row justify-content-center">
              <input
                type="text"
                class="login-card__field"
                placeholder="Digite o seu usuário"
                formControlName="usuario"
                [class.login-card__field--invalid]="showError('usuario')"
                #userInput
              />
            </div>

            <div class="row justify-content-center">
              <input
                type="password"
                class="login-card__field"
                placeholder="Digite a sua senha"
                formControlName="senha"
                [class.login-card__field--invalid]="showError('senha')"
                #passwordInput
              />
            </div>

            <div class="row justify-content-center">
              <button class="btn-login btn-block" (click)="onSubmit()">
                Continuar
                <img class="btn-login__icon" [src]="VECTOR_ICON_URL" />
              </button>
            </div>

            <div class="text-center">
              <a
                href="#"
                class="d-block small mt-3 link__text"
                routerLink="/recovery"
                >Esqueci minha senha >
              </a>
              <a href="#" class="d-block small link__text"
                >Ainda não sou cliente ></a
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
