<div class="row mt-5">
  <div class="col-10">

    <div class="card mb-3" *ngIf="!loading && !notLoading">
      <div class="card-body p-4">
        <div class="row">
          <div class="col-md-4 mt-3" *ngFor="let plan of plans">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{ plan.descricao }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ plan.id }}</h6>
                <p class="card-text">
                  Movimentação tipo:{{ plan.tipoMovimento }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-lg btn-outline-success" (click)="open(content)">Cadastro</button>
    </div>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Planos de Contas</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">Cadastro</label>
        <div class="input-group">
          <input id="" class="form-control" placeholder="Descrição">
          <div class="input-group-append">
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>
<hr>



