<div class="bg">
  <div class="pt-3 pl-5">
    <div class="text-white pt-5 pl-5">
      <div class="row">
        <h4 class="texto ">Ola <strong>Usuario</strong>, seja bem vindo!</h4>
      </div>
      <div class="row mt-5">
        <div class="col-4 ">
          <div class="card mb-3">
              <div class="card-header d-flex flex-row p-4">
                <img src="../../assets/dollar.svg" alt="dollar">
                <h4 class="text pl-4">Conta</h4>
              </div>
            <div class="card-body p-4">
              <p class="text">Saldo disponível</p>
              <p class="text-disponivel font-weight-bold">R$: 10.000,00</p>
              <p class="text">Transações<strong class="text-success">R$: 2.120,21</strong></p>
              <br>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card mb-3">
              <div class="card-header d-flex flex-row p-4">
                <img class="img"src="../../assets/credit-card.svg" alt="credit-card">
                <h4 class="text pl-4">Cartão de Crédito</h4>
              </div>
            <div class="card-body p-4">
              <div class="d-block justify-content-end">
                <p class="text">Fatura atual</p>
                <p class="text-primary font-weight-bold text-fatura">R$:128,88</p>
              </div>
              <p class="text">Limite disponível<strong class="text-success font-weight-bold">R$:9.120,88</strong></p>
              <br>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-8">
          <div class="card mb-4">
              <div class="card-header d-flex flex-row p-4">
                <img src="../../assets/dollar.svg" alt="dollar">
                <h4 class="text pl-4">Ultimos Lançamentos</h4>
              </div>
            <div class="card-body p-4">
              <div class="row">
                <div class="col-1">
                  <img src="../../assets/credit-card2.svg" alt="credit-card2">
                </div>
                <div class="col-4">
                  <p class="text-disponivel font-weight-bold ">Compra no débito</p>
                  <p class="text ">GamaAcademy</p>
                  <p class="text-dark font-weight-bold">R$: 10.000,00</p>
                </div>
              </div>
              <br><br><br><br><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
