.bg {
  height: 100vh;
  width: 100vw;
  background-color: #8C52E5;
}
.text {
  color: #9B9B9B;
  font-size: 20px;
}
.text-fatura {
  font-size: 20px;
}
.text-disponivel {
  color: black;
  font-size: 20px;
}
.img {
  width: 38px;
  height: 38px;
}
