<section class="section-e">
  <div class="container">
    <div class="invite-box">
      <h3 class="invite-box__title">
        Simplifique a sua vida. Peça seu convite.
      </h3>
      <p class="invite-box__text">
        GamaAcademy Bank Line S.A. - CNPJ 00.000.000/0000-00
      </p>
      <p class="invite-box__text">
        Rua Fictícia, 999 - 00000-000 - São Paulo, SP
      </p>
      <p class="invite-box__text">
        Este é um projeto de avaliação | GamaAcademy | Accenture | 2021
      </p>
    </div>
    <img
      class="invite-box__img"
      src="assets/img/section-e-phone.png"
      alt="Celular"
    />
  </div>
</section>
