<div class="container-fluid p-0">
  <app-navbar-mobile></app-navbar-mobile>
  <div class="d-flex flex-row p-0">
    <div class="">
      <app-navbar></app-navbar>
    </div>
    <div class="flex-grow-1 content">
      <div class="bg w-100">
        <div class="pt-3">
          <div class="pt-5">
            <div class="row text-white">
              <div class="col-9">
                <h4 class="texto">
                  Olá <strong>{{ user.nome }}</strong
                  >, seja bem vindo!
                </h4>
              </div>
              <div class="col-1 logout-wrapper">
                <button (click)="logout()" class="logout">
                  <img src="./assets/sign-out-alt-solid.svg" width="20" />
                </button>
              </div>
            </div>
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
