<div class="container-fluid p-0">
  <div class="d-flex flex-row p-0">
    <div class="">
      <app-navbar></app-navbar>
    </div>
    <div class="flex-grow-1 content">
      <div class="bg w-100">
        <div class="pt-3 pl-5">
          <div class="pt-5 pl-5">
            <div class="row text-white">
              <div class="col-9">
                <h4 class="texto">
                  Olá <strong>{{user.nome}}</strong>, seja bem vindo!
                </h4>
              </div>
              <div class="col-1">
                <button (click)="logout()" class="logout"></button>
              </div>
            </div>
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
