<section class="section-b">
  <div class="digital-account">
    <h2 class="digital-account__title">Conta digital do Gama Academy</h2>
    <img
      class="digital-account__img"
      src="assets/img/app-bg1.png"
      alt="Celular"
    />
    <pre class="digital-account__text">
    Rende mais que a poupança,
    sem taxa de manutenção
    nem tarifas escondidas.
    </pre>
  </div>

  <div class="credit-card">
    <h2 class="credit-card__title">Cartão de Crédito</h2>
    <img class="credit-card__img" src="assets/img/app-bg2.png" alt="Celular" />
    <pre class="credit-card__text">
    Rende mais que a poupança,
    sem taxa de manutenção
    nem tarifas escondidas.
    </pre>
  </div>
</section>
