<section class="section-b">
  <div class="left-side">
    <div class="digital-account">
      <h2 class="digital-account__title">Conta digital do Gama Academy</h2>
      <pre class="digital-account__text">
    Rende mais que a poupança,
    sem taxa de manutenção
    nem tarifas escondidas.
    </pre
      >
      <div class="digital-account__img"></div>
    </div>
  </div>

  <div class="right-side">
    <div class="credit-card">
      <h2 class="credit-card__title">Cartão de Crédito</h2>
      <pre class="credit-card__text">
    Rende mais que a poupança,
    sem taxa de manutenção
    nem tarifas escondidas.
    </pre
      >
      <div class="credit-card__img"></div>
    </div>
  </div>
</section>
