<main>
  <section class="section-a">
    <div class="header">
      <img class="header__img" src="assets/svg/logo.svg" alt="Gama Academy" />
    </div>
    <div class="home-content">
      <div class="intro-card">
        <span class="intro-card__text"
          >Gama Bank é um projeto de nossos alunos.</span
        >
        <br />
        <span class="intro-card__text">Ja tem conta?</span>
        <button class="intro-card__button">Acessar</button>
      </div>
      <div class="register-card">
        <h2 class="register-card__title">
          Peça sua conta e cartão de crédito do Gama Bank
        </h2>
        <input
          type="text"
          class="register-card__field"
          placeholder="Digite seu CPF"
        />
        <input
          type="text"
          class="register-card__field"
          placeholder="Escolha um nome de usuário"
        />
        <input
          type="text"
          class="register-card__field"
          placeholder="Nome complet"
        />
        <input
          type="text"
          class="register-card__field"
          placeholder="Digite sua senha"
        />
        <input
          type="text"
          class="register-card__field"
          placeholder="Confirme sua senha"
        />

        <button class="register-card__btn">Continuar</button>
      </div>
    </div>
  </section>
</main>
