<div class="container-login">
  <img class="container-login__logo" [src]="LOGO_IMAGE_URL" />

  <div class="container-card">
    <div class="recovery-card">
      <p class="recovery-card__title">Esqueci minha senha</p>
      <p class="recovery-card__subtitle">
        Confirme seu email e nome de usuário
      </p>

      <form class="recovery-card__form">
        <input type="email" class="recovery-card__field" placeholder="Email" />
        <input
          type="text"
          class="recovery-card__field"
          placeholder="Nome de usuario"
        />

        <button type="submit" class="btn-login">
          Continuar <img class="btn-login__icon" [src]="VECTOR_ICON_URL" />
        </button>
      </form>
    </div>
  </div>
</div>
